{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true
    },
    "rules": {
        "block-scoped-var": "error",
        "comma-dangle": ["error", "never"],
        "consistent-return": "error",
        "curly": "error",
        "default-case": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-div-regex": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-implied-eval": "error",
        "no-labels": "error",
        "no-label-var": "error",
        "no-lone-blocks": "error",
        "no-negated-condition": "error",
        "no-nested-ternary": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-require": "error",
        "no-new-wrappers": "error",
        "no-octal-escape": "error",
        "no-proto": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-shadow-restricted-names": "error",
        "no-spaced-func": "error",
        "no-undef-init": "error",
        "no-unused-expressions": "error",
        "no-useless-call": "error",
        "no-use-before-define": ["error", "nofunc"],
        "no-void": "error",
        "no-with": "error",
        "radix": ["error", "as-needed"],
        "semi": ["error", "always"],
        "semi-spacing": "error",
        "strict": ["error", "global"],
        "wrap-iife": ["error", "any"],
        "yoda": "error",

        "accessor-pairs": "warn",
        "array-bracket-spacing": ["warn", "never"],
        "block-spacing": ["warn", "always"],
        "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
        "camelcase": "warn",
        "comma-spacing": ["warn", { "before": false, "after": true }],
        "comma-style": ["warn", "last"],
        "computed-property-spacing": ["warn", "never"],
        "consistent-this": ["warn", "that"],
        "dot-notation": "warn",
        "dot-location": ["warn", "property"],
        "eol-last": "warn",
        "eqeqeq": "warn",
        "func-style": ["warn", "declaration"],
        "guard-for-in": "warn",
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
        "keyword-spacing": "warn",
        "new-cap": ["warn", { "capIsNewExceptions": ["Given", "When", "Then", "Before", "After", "Deferred"] }],
        "new-parens": "warn",
        "no-array-constructor": "warn",
        "no-continue": "warn",
        "no-else-return": "warn",
        "no-extra-parens": "warn",
        "no-floating-decimal": "warn",
        "no-implicit-coercion": "warn",
        "no-invalid-this": "warn",
        "no-iterator": "warn",
        "no-lonely-if": "warn",
        "no-loop-func": "warn",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-multiple-empty-lines": ["warn", { "max": 1 }],
        "no-process-env": "warn",
        "no-shadow": ["warn", { "builtinGlobals": true, "hoist": "all", "allow": ["done", "cb"] }],
        "no-throw-literal": "warn",
        "no-trailing-spaces": "warn",
        "no-undefined": "warn",
        "no-unneeded-ternary": "warn",
        "no-useless-concat": "warn",
        "no-warning-comments": "warn",
        "object-curly-spacing": ["warn", "always"],
        "one-var": ["warn", "never"],
        "operator-linebreak": "warn",
        "padded-blocks": ["warn", "never"],
        "quotes": "warn",
        "quote-props": ["warn", "consistent-as-needed"],
        "space-before-blocks": ["warn", "always"],
        "space-before-function-paren": ["warn", { "anonymous": "always", "named": "never" }],
        "space-in-parens": "warn",
        "space-infix-ops": "warn",
        "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
        "valid-jsdoc": ["warn", { "requireReturn": false }],

        "init-declarations": "off",
        "func-names": "off",
        "linebreak-style": "off",
        "max-nested-callbacks": "off",
        "newline-after-var": "off",
        "no-eq-null": "off",
        "no-magic-numbers": ["off", { "ignore": [-1, 0, 1], "detectObjects": true }],
        "no-param-reassign": "off",
        "no-ternary": "off",
        "no-underscore-dangle": "off",
        "vars-on-top": "off"
    }
}
